* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../fotos/programming\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.linguagens{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}